---
title: Digital Accessibility Toolkit
description: Welcome to the Digital Accessibility Toolkit. We offer a variety of learning materials and resources to help you learn and implement accessibility in your digital projects.

role:
  - Analysis Role Group
  - Author Role Group
  - Designer Role Group
  - Development Role Group
  - Testing Role Group
  - Administration Role Group

role:
  - analysis
  - author
  - designer
  - development
  - testing
  - administration

layout: layouts/home.njk
toggle: fr
tags: home
permalink: /en/index.html
---
